# MLflow Configuration
MLFLOW_TRACKING_URI=file://./mlruns
MLFLOW_EXPERIMENT_NAME=Telco Churn

# Model Configuration
MODEL_THRESHOLD=0.35
TEST_SIZE=0.2
TARGET_COLUMN=Churn

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000
API_RELOAD=false

# Data Paths
RAW_DATA_PATH=data/raw/Telco-Customer-Churn.csv
PROCESSED_DATA_PATH=data/processed/telco_churn_processed.csv

# Docker Hub Configuration
DOCKER_HUB_USERNAME=machhakiran0108
DOCKER_IMAGE_NAME=telco-churn-ml
DOCKER_IMAGE_TAG=latest

# GitHub Configuration
GITHUB_USER=machhakiran

# AWS Configuration (for deployment)
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=

# Logging
LOG_LEVEL=INFO

